crewai
langchain-google-genai
requests
python-dotenv
fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
python-multipart
PyMuPDF
agentops
httpx
pydantic-settings
beautifulsoup4
langchain
langchain-chroma<0.3.0
chromadb~=1.1.0
langsmith
langchain-text-splitters
openpyxl
pandas
langchain-ollama
psycopg2-binary
boto3


